/* .box {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid #333;
    margin: 50px;
    box-sizing: border-box;
    background-clip: border-box;
} */

h1:hover {
    color: rgb(18, 37, 211);
}

.header {
    width: 100%;
    height: 1000px;
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8dmlldG5hbSUyMGJlYWNofGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80);
    /* background-image: url(https://designshack.net/wp-content/uploads/Free-Realistic-Space-Background.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: top right; */
}